/* Josh W Comeau's CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  /* line-height: 1.5; */
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ------------------------------------------------------------------------ */
/* Custom Styles */

/* Global Variables */
html {
  /* Colors */
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);

  /* Fonts */
  --font-1-size: 40px;
  --font-1-line-height: 100%;
  --font-1-letter-spacing: 0px;

  --font-2-size: 28px;
  --font-2-line-height: 100%;
  --font-2-letter-spacing: 0px;

  --font-3-size: 20px;
  --font-3-line-height: 100%;
  --font-3-letter-spacing: 0px;

  --font-4-size: 16px;
  --font-4-line-height: 150%;
  --font-4-letter-spacing: 0px;
}

html {
  background-color: var(--color-stone-100);
  font-family: "Outfit", sans-serif;
  line-height: var(--font-4-line-height);
}

.wrapper {
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 736px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  gap: 32px;
}

img {
  border-radius: 12px;
  margin-bottom: 40px;
}

main {
  padding-top: 128px;
  padding-bottom: 128px;
}

/* Fonts */
.title {
  color: var(--color-stone-900);
  font-family: "Young Serif", serif;
  font-size: var(--font-1-size);
  line-height: var(--font-1-line-height);
  letter-spacing: var(--font-1-letter-spacing);
  margin-bottom: 24px;
  color: var(--color-stone-900);
  font-size: var(--font-1-size);
  letter-spacing: var(--font-1-letter-spacing);
  line-height: var(--font-1-line-height);
}

figcaption p {
  color: var(--color-stone-600);
}

aside {
  padding: 24px;
  background-color: var(--color-rose-50);
  border-radius: 12px;
}
aside > h3,
aside li {
  color: var(--color-rose-800);
}

.emph {
  font-weight: bold;
}

aside > h3 {
  margin-bottom: 16px;
}

aside li {
  margin-bottom: 8px;
}
aside li:last-child {
  margin-bottom: 0px;
}
aside span {
  color: var(--color-stone-600);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-stone-150);
}

section li::marker,
section h2 {
  color: var(--color-brown-800);
}

.instructions li::marker {
  font-weight: bold;
}

.ingredients li,
.instructions li {
  margin-bottom: 8px;
  color: var(--color-stone-600);
}

.ingredients li:last-child,
.instructions li:last-child {
  margin-bottom: 0px;
}

section h2 {
  margin-bottom: 24px;
  font-family: "Young Serif", serif;
}

.nutrition > p {
  margin-bottom: 24px;
  color: var(--color-stone-600);
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  width: 100%;
  border-bottom: 1px solid var(--color-stone-150);
}

li {
  padding-left: 16px;
}
ul,
ol {
  padding-inline-start: 15px;
}

table {
  text-align: left;
}
th {
  padding-left: 32px;
  width: 288px;
  font-weight: normal;
  color: var(--color-stone-600);
}

td {
  padding-right: 32px;
  width: 288px;
  color: var(--color-brown-800);
  font-weight: bold;
}

tr:not(:first-of-type) th {
  padding-top: 12px;
}
tr:not(:last-of-type) th {
  padding-bottom: 12px;
}

@media screen and (max-width: 750px) {
  main {
    padding-left: 48px;
    padding-right: 48px;
  }
  .wrapper {
    max-width: 616px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 450px) {
  main {
    padding: 0px;
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}
